body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(150, 154, 151);
}
.container {
    margin: auto;
    width: 50%;
    text-align: center;
}
h3 {
    text-align: center;
}
.users {
    display: block;
    text-align: center;
    padding-bottom: 5px;
}
.number {
    margin-bottom: 10px;
    margin-left: 25px;
    font-size: 18px;
}
.submit {
    width: 15%;
    margin: auto;
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    background-color: rgb(60, 60, 239);
    color: white;
    cursor: pointer;
}
.clear {
    width: 15%;
    margin: auto;
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    background-color: rgb(185, 21, 30);
    color: white;
    cursor: pointer;
}
label {
     display: block;
     padding: 5px 0px;
     font-size: 18px;
}
.user_form {
    padding: 50px;
}
.user_details {
    padding: 50px;
    background-color: antiquewhite;
    visibility: hidden;
}
.user_details input {
    font-size: 18px;
    width: 300px;
}
.user_details .show {
    visibility: visible;
}
.user-details .hidden {
    display: none;
}
.submit1 {
    visibility: hidden;
}
.submit1 .show {
    visibility: visible;
}
.next-btn {
    margin-top: 10px;
}
.next {
    display: block;
    width: 30%;
    margin:auto;
    background-color: green;
    color: white;
    border-style: none;
    padding:5px;
    border-radius: 5px;
}